.simulation-container {
    position:relative;
    width: 800px;
    height: 800px;
    margin: 100px auto;   
}

#pivot {
    position: absolute;
    bottom: 24%;
    left: 50%;
    transform: translateX(-50%);
    border-radius:30px;
    width: 20px;
    height: 50px;
    background: black;
    border-radius: 4px 4px 0 0;
}

#plank {
    position:absolute;
    bottom:30%;
    left:50%;
    border-radius:20px;;
    transform:translateX(-50%);
    width:800px;
    height:20px;
    background:blue;
}

.weight-of-object {
    position:absolute;
    bottom:10px;
    width:32px;
    height:32px;
    background:red;
    border-radius:50%;
    transform:translate(-50%);
    display:flex;
    align-items:center;
    justify-content: center;
    color:white;
    font-size: 15px;
    font-weight:bold;
}

.torque-display{
    display:flex;
    justify-content: space-around;
    padding: 10px;
    background-color: #6030b0 ;
    border-radius: 8px;
    margin-bottom:1px;
    font-size: 22px;
}

#reset-btn{
    display:block;
    margin: 30px auto;
    padding: 30px 30px;
    border-radius:50px;
    font-size: medium;
    background-color: red;
    color: white;
    border:none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}
#reset-btn:hover{
    background-color: darkred;
}

#preview-of-weight{
    position:absolute;
    width:30px;
    height:30px;
    background-color: aqua;
    border-radius:50%;
    pointer-events: none;
    display:none;
    transform: translate(-50%, -50%);
    pointer-events: none;
    display: block; 
    z-index: 100;
}

.weight-display {
    padding:10px;
    display:flex;
    justify-content: space-around;
    font-size: 22px;
    background-color:#6a3aad;
    border-radius:8px;
}
body {
    background: #505899;
    background: linear-gradient(90deg, rgba(80, 88, 153, 1) 0%, rgba(116, 142, 176, 1) 9%, rgba(87, 199, 136, 1) 19%, rgba(93, 197, 139, 1) 25%, rgba(96, 196, 140, 1) 29%, rgba(105, 194, 145, 1) 38%, rgba(33, 163, 46, 1) 60%, rgba(127, 205, 120, 1) 83%, rgba(25, 191, 127, 1) 96%, rgba(201, 185, 34, 1) 100%);
}