.simulation-container {
    position:relative;
    width: 800px;
    height: 600px;
    margin: 100px auto;
}

#pivot {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    width: 20px;
    height: 50px;
    background: gray;
    border-radius: 4px 4px 0 0;
}

#plank {
    position:absolute;
    bottom:50px;
    left:50%;
    transform:translateX(-50%);
    width:800px;
    height:10px;
    background:blue;
}

.weight-of-object {
    position:absolute;
    bottom:10px;
    width:24px;
    height:24px;
    background:red;
    border-radius:50%;
    transform:translate(-50%);
    display:flex;
    align-items:center;
    justify-content: center;
    color:white;
    font-size:10px;
    font-weight:bold;
}

.torque-display{
    display:flex;
    justify-content: space-around;
    padding: 10px;
    background-color: green;
    border-radius: 8px;
    margin-bottom:20px;
    font-size: medium;
}

#reset-btn{
    display:block;
    margin: 30px auto;
    padding: 30px 30px;
    border-radius:50px;;
    font-size: medium;
    background-color: red;
    color: white;
    border:none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}
#reset-btn:hover{
    background-color: darkred;
}

#preview-of-weight{
    position:absolute;
    width:30px;
    height:30px;
    background-color: aqua;
    border-radius:50%;
    pointer-events: none;
    display:none;
    transform: translate(-50%, -50%);
    pointer-events: none;
    display: block; 
    z-index: 100;
}