.simulation-container {
    position:relative;
    width: 400px;
    height: 600px;
    margin: 100px auto;
    border: 4px dashed red;
}

#pivot {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    width: 20px;
    height: 50px;
    background: gray;
    border-radius: 4px 4px 0 0;
}

#plank {
    position:absolute;
    bottom:50px;
    left:50%;
    transform:translateX(-50%);
    width:400px;
    height:10px;
    background:blue;
}

.weight-of-object {
    position:absolute;
    bottom:10px;
    width:24px;
    height:24px;
    background:red;
    border-radius:50%;
    transform:translate(-50%);
    display:flex;
    align-items:center;
    justify-content: center;
    color:white;
    font-size:10px;
    font-weight:bold;
}

.torque-display{
    display:flex;
    justify-content: space-around;
    padding: 10px;
    background-color: green;
    border-radius: 8px;
    margin-bottom:20px;
    font-size: medium;
}